nav {
    position: absolute;
    top: 17rem;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--shadow);
}

nav>* {
    all: unset;
    cursor: pointer;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 7rem;
    background-color: var(--inactive-grey);
    border-bottom: var(--tab-border-grey);
}

nav>*:hover {
    background-color: var(--inactive-grey-hover);
}

nav>*.active {
    background-color: var(--active-orange);
}

nav>*:first-child {
    border-top-right-radius: var(--strong-rounding);
}

nav>*:last-child {
    border-bottom-right-radius: var(--strong-rounding);
    border-bottom: unset;
}