* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-box {
    background-color: var(--active-orange);
    margin: auto;
    height: 14rem;
    width: 20rem;
    border-bottom-left-radius: var(--medium-rounding);
    border-bottom-right-radius: var(--medium-rounding);
    position: relative;
    box-shadow: var(--shadow);
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin: auto 2rem;
    position: absolute;
    top: 1.5rem;
}

.mode-btn {
    border: unset;
    height: 2rem;
    border-bottom: var(--tab-border-white);
    width: 50%;
    position: absolute;
    margin-top: -2rem;
    cursor: pointer;
    background-color: var(--inactive-grey);
}

.mode-btn:hover {
    background-color: var(--inactive-grey-hover);
}

.mode-btn:nth-child(1) {
    border-top-left-radius: var(--medium-rounding);
}

.mode-btn:nth-child(2) {
    border-top-right-radius: var(--medium-rounding);
    border-left: var(--tab-border-grey);
    right: 0;
}

.mode-btn.active {
    background-color: var(--active-orange);
    border-bottom: unset;
}

.login-box p {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5rem;
}

img {
    width: 20rem;
    margin-right: 5rem;
}

.login-box>.action-btn {
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
}