:root {
  --inactive-grey: rgb(215, 215, 215);
  --inactive-grey-hover: rgb(225, 225, 225);
  --background-blue: rgb(235, 235, 255);
  --active-orange: rgb(255, 235, 225);
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-blue);
}

.active {
}